.center-text {
  text-align: center;
}
.random-title {
  font-size: 130%
}
.random-extra {
	font-size: 80%;
}
.random-back {
  display: none;
  /*-!!!!NEVER DELETE THIS PART
   This hides the list on the backside of the card-*/
}
.cloze {
  color: yellow;
}
.randomize-highlight {
	color: yellow;
}
