$theme-dark: (
	ctp-rosewater: #f5e0dc,
	ctp-flamingo: #f2cdcd,
	ctp-pink: #f5c2e7,
	ctp-mauve: #cba6f7,
	ctp-red: #f38ba8,
	ctp-maroon: #eba0ac,
	ctp-peach: #fab387,
	ctp-yellow: #f9e2af,
	ctp-green: #a6e3a1,
	ctp-teal: #94e2d5,
	ctp-sky: #89dceb,
	ctp-sapphire: #74c7ec,
	ctp-blue: #87b0f9,
	ctp-lavender: #b4befe,
	ctp-text: hsl(220, 40%, 90%),
	ctp-subtext1: hsl(220, 30%, 80%),
	ctp-subtext0: hsl(220, 15%, 70%),
	ctp-overlay2: hsl(220, 15%, 38%),
	ctp-overlay1: hsl(220, 15%, 33%),
	ctp-overlay0: hsl(220, 15%, 29%),
	ctp-surface2: hsl(220, 15%, 25%),
	ctp-surface1: hsl(220, 15%, 21%),
	ctp-surface0: hsl(220, 15%, 16%),
	ctp-base: hsl(220, 15%, 13%),
	ctp-mantle: hsl(220, 15%, 10%),
	ctp-crust: hsl(220, 15%, 7%),
	theme-mode: "dark",
	theme-name: "midnight",
);
