/* TIMER ON/OFF */
.timer {
  display: none; /* ‘none’ or ‘block’ */
}


/*Other Fields Font Size*/
#firstaid,
#sketchy,
#pixorize,
#physeo,
#additional {
  font-size: calc(var(--font-size-small) - 3px) !important;
}
/*################  USER CUSTOMIZATION END  ################
###########################################################*/

/* Formatting For Timer */
.timer {
  font-size: 20px;
  margin: 12em auto auto auto;
}

/* Classes for individual cards */
.image40 img { width: 40% !important;}
.image50 img { width: 50% !important;}
.image60 img { width: 60% !important;}
.image70 img { width: 70% !important;}
.image80 img { width: 80% !important;}
.image90 img { width: 90% !important;}

.image40 img,
.image50 img,
.image60 img,
.image70 img,
.image80 img,
.image90 img {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.mobile .image40 img,
.mobile .image50 img,
.mobile .image60 img,
.mobile .image70 img,
.mobile .image80 img,
.mobile .image90 img {
  width: auto !important;
}

/* ~~~~~~~MNEMONICS LEFT JUSTIFIED~~~~~~~ */
.mnemonics {
  display: inline-block;
  text-align: left; /* can change to center to 'turn off' this feature */
}
.centerbox {
  text-align: center;
}


/* ~~~~~~~~~ ADD-ON CONFIGURATIONS ~~~~~~~~~ */
/*Compatibility with Image Style Editor add-on*/
.card {
  --w: 0%;
}
.mobile .card {
  --w: 100% !important;
}

/*Max image width for resize images in editor add-on */
.card [class^=ui-] img {
  max-width: 100% !important;
}

/*Compatibility with resize images in editor add-on */
.resizer {
  min-width: 0% !important;
}
.mobile .resizer {
  min-width: 100% !important;
}

/* Fix to make pop-up dictionary images the right size */
.qtip img {
  max-width: 95% !important;
  max-height: 95% !important;
}


/* ~~~~~~ANKING HYPERLINK IMAGE~~~~~~ */
#pic {
  opacity: 0.0;
  font-size: 16px;
  font-family: Comic Sans !important;
  font-style: bold;
  height: 50px;
  border: 0;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: block;
}

#pic:hover {
  opacity: 1;
  transition: opacity 0.2s ease;
}

.mobile #pic {
  display: none;
}

/* ~~~~~~~~~ TAGS ~~~~~~~~~ */
/* Container To Fix Tags At Bottom Of Screen */
#tags-container {
  position: fixed;
  bottom: .5px;
  width: 100%;
  line-height: .45rem;
  margin-left: -15px;
  background-color: transparent;
}

/* OME BANNER */
.banner-ome {
  max-width: 300px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  img {
    width: 100% !important;
  }
}
.mobile .banner-ome {
  display: none;
}

#button-ome {
  display: none;
}
.mobile #button-ome {
  display: inline;
}


/* ~~~~~~~~~BUTTON LAYOUT~~~~~~~~~ */
.button-general,
.night_mode button.button-general {
  outline: 0;
  border-radius: 0.22em;
  border: 1px solid rgb(var(--ctp-overlay1)) !important;
  padding: 5px 5px;
  text-align: center;
  display: inline-block;
  font-size: calc(var(--font-size-small) - 3px);
  background-color: rgb(var(--ctp-base));
  color: rgb(var(--ctp-subtext0)) !important;
  margin-top: 8px;
  height: calc(var(--font-size-small) + 1px);
  &:hover {
    background-color: rgb(var(--ctp-surface0));
  }
}
.button-general img {
  margin: 0 !important;
  display: inline-block;
  opacity: 100% !important;
  &:hover {
    max-width: inherit !important;
  }
}
.mobile .button-general {
  font-size: 18px;
  padding: 9px 7px;
}

.expanded-button,
.night_mode button.expanded-button {
  display: block;
  margin: auto;
  margin-top: 10px;
  font-weight: bold;
  width: 50% !important;
  background: rgb(var(--ctp-subtext0)) !important;
  color: rgb(var(--ctp-base)) !important;
  font-weight: bold;
  width: 50% !important;
}

#button-mq:not(.expanded-button) {
  color: #c26165 !important;
}
.anking-buttons {
  text-align: center;
}
.ome-widget {
  text-align: center;
  img {
    opacity: 1 !important;
    max-width: 100% !important;
    cursor: normal;
    &:hover {
      cursor: normal;
    }
  }
}
