.card.night_mode {
  --ctp-rosewater: 245, 224, 220;
  --ctp-flamingo: 242, 205, 205;
  --ctp-pink: 245, 194, 231;
  --ctp-mauve: 203, 166, 247;
  --ctp-red: 243, 139, 168;
  --ctp-maroon: 235, 160, 172;
  --ctp-peach: 250, 179, 135;
  --ctp-yellow: 249, 226, 175;
  --ctp-green: 166, 227, 161;
  --ctp-teal: 148, 226, 213;
  --ctp-sky: 137, 220, 235;
  --ctp-sapphire: 116, 199, 236;
  --ctp-blue: 135, 176, 249;
  --ctp-lavender: 180, 190, 254;
  --ctp-text: 217, 224, 238;
  --ctp-subtext1: 211, 205, 214;
  --ctp-subtext0: 190, 179, 193;
  --ctp-overlay2: 167, 156, 176;
  --ctp-overlay1: 152, 139, 162;
  --ctp-overlay0: 109, 107, 125;
  --ctp-surface2: 87, 82, 105;
  --ctp-surface1: 45, 40, 72;
  --ctp-surface0: 48, 45, 65;
  --ctp-base: 30, 30, 46;
  --ctp-mantle: 26, 24, 38;
  --ctp-crust: 22, 19, 32;
  --text-fg-faint: rgb(var(--ctp-overlay1)) !important;
}
