.card.night_mode {
  --ctp-rosewater: 236, 222, 213;
  --ctp-flamingo: 234, 195, 214;
  --ctp-pink: 234, 159, 194;
  --ctp-mauve: 215, 159, 234;
  --ctp-red: 234, 159, 159;
  --ctp-maroon: 234, 169, 159;
  --ctp-peach: 234, 178, 159;
  --ctp-yellow: 234, 201, 159;
  --ctp-green: 174, 213, 165;
  --ctp-teal: 164, 234, 192;
  --ctp-sky: 174, 224, 206;
  --ctp-sapphire: 163, 225, 235;
  --ctp-blue: 163, 200, 235;
  --ctp-lavender: 182, 186, 226;
  --ctp-text: 250, 218, 195;
  --ctp-subtext1: 247, 204, 172;
  --ctp-subtext0: 235, 192, 160;
  --ctp-overlay2: 199, 163, 136;
  --ctp-overlay1: 173, 144, 124;
  --ctp-overlay0: 120, 102, 96;
  --ctp-surface2: 94, 84, 86;
  --ctp-surface1: 85, 77, 82;
  --ctp-surface0: 76, 70, 78;
  --ctp-base: 58, 56, 69;
  --ctp-mantle: 47, 46, 56;
  --ctp-crust: 38, 37, 45;
}
