.card.night_mode {
  --ctp-rosewater: 246, 201, 153;
  --ctp-flamingo: 245, 189, 166;
  --ctp-pink: 228, 157, 248;
  --ctp-mauve: 189, 147, 249;
  --ctp-red: 255, 85, 85;
  --ctp-maroon: 230, 102, 102;
  --ctp-peach: 255, 184, 108;
  --ctp-yellow: 241, 250, 140;
  --ctp-green: 80, 250, 123;
  --ctp-teal: 104, 219, 211;
  --ctp-sky: 139, 233, 253;
  --ctp-sapphire: 104, 197, 240;
  --ctp-blue: 95, 126, 222;
  --ctp-lavender: 197, 146, 222;
  --ctp-text: 248, 248, 242;
  --ctp-subtext1: 211, 211, 197;
  --ctp-subtext0: 191, 191, 181;
  --ctp-overlay2: 139, 143, 167;
  --ctp-overlay1: 110, 114, 145;
  --ctp-overlay0: 88, 92, 116;
  --ctp-surface2: 68, 71, 90;
  --ctp-surface1: 56, 59, 76;
  --ctp-surface0: 48, 50, 65;
  --ctp-base: 40, 42, 54;
  --ctp-mantle: 33, 34, 44;
  --ctp-crust: 26, 27, 35;
}
