.card.night_mode {
  --ctp-rosewater: 226, 191, 169;
  --ctp-flamingo: 239, 171, 150;
  --ctp-pink: 214, 163, 222;
  --ctp-mauve: 180, 142, 173;
  --ctp-red: 191, 97, 106;
  --ctp-maroon: 191, 108, 97;
  --ctp-peach: 208, 135, 112;
  --ctp-yellow: 235, 203, 139;
  --ctp-green: 163, 190, 140;
  --ctp-teal: 143, 188, 187;
  --ctp-sky: 136, 192, 208;
  --ctp-sapphire: 129, 161, 193;
  --ctp-blue: 94, 129, 172;
  --ctp-lavender: 192, 167, 187;
  --ctp-text: 236, 239, 244;
  --ctp-subtext1: 229, 233, 240;
  --ctp-subtext0: 217, 222, 232;
  --ctp-overlay2: 196, 201, 212;
  --ctp-overlay1: 172, 180, 195;
  --ctp-overlay0: 149, 158, 178;
  --ctp-surface2: 125, 137, 161;
  --ctp-surface1: 67, 76, 94;
  --ctp-surface0: 59, 66, 82;
  --ctp-base: 46, 52, 64;
  --ctp-mantle: 39, 43, 53;
  --ctp-crust: 30, 34, 41;
}
