.card.night_mode {
  --ctp-rosewater: 165, 117, 98;
  --ctp-flamingo: 165, 117, 98;
  --ctp-pink: 180, 142, 173;
  --ctp-mauve: 180, 142, 173;
  --ctp-red: 191, 97, 106;
  --ctp-maroon: 191, 97, 106;
  --ctp-peach: 208, 135, 112;
  --ctp-yellow: 235, 203, 139;
  --ctp-green: 163, 190, 140;
  --ctp-teal: 143, 188, 187;
  --ctp-sky: 136, 192, 208;
  --ctp-sapphire: 136, 192, 208;
  --ctp-blue: 94, 129, 172;
  --ctp-lavender: 129, 161, 193;
  --ctp-text: 163, 165, 170;
  --ctp-subtext1: 135, 137, 145;
  --ctp-subtext0: 110, 113, 119;
  --ctp-overlay2: 92, 92, 92;
  --ctp-overlay1: 82, 82, 82;
  --ctp-overlay0: 71, 71, 71;
  --ctp-surface2: 61, 61, 61;
  --ctp-surface1: 51, 51, 51;
  --ctp-surface0: 40, 40, 40;
  --ctp-base: 35, 35, 35;
  --ctp-mantle: 30, 30, 30;
  --ctp-crust: 25, 25, 25;
  --ctp-accent: 165, 117, 98;
}
