.card {
    --ctp-rosewater: 214, 129, 125;
    --ctp-flamingo: 214, 129, 125;
    --ctp-pink: 144, 122, 169;
    --ctp-mauve: 144, 122, 169;
    --ctp-red: 180, 99, 122;
    --ctp-maroon: 180, 99, 122;
    --ctp-peach: 214, 129, 125;
    --ctp-yellow: 234, 157, 52;
    --ctp-green: 86, 148, 159;
    --ctp-teal: 86, 148, 159;
    --ctp-sky: 40, 105, 131;
    --ctp-sapphire: 40, 105, 131;
    --ctp-blue: 40, 105, 131;
    --ctp-lavender: 144, 122, 169;
    --ctp-text: 87, 82, 121;
    --ctp-subtext1: 97, 92, 132;
    --ctp-subtext0: 121, 117, 147;
    --ctp-overlay2: 128, 124, 153;
    --ctp-overlay1: 152, 147, 165;
    --ctp-overlay0: 161, 156, 173;
    --ctp-surface2: 202, 193, 185;
    --ctp-surface1: 209, 201, 194;
    --ctp-surface0: 220, 211, 203;
    --ctp-crust: 229, 220, 212;
    --ctp-mantle: 235, 227, 219;
    --ctp-base: 239, 231, 222;
}
